
<div class="login-page ">
  <div class="   col-3 offset-8 login-card">
    <h2>regester now :</h2>
    <div class="login-container">
  <div class="input-group">
    <i class="fas fa-user icon"></i> <input type="text" placeholder="User Name">
  </div>
  <div class="input-group">
    <i class="fas fa-envelope icon"></i> <input type="text" placeholder="email">
  </div>
  <div class="input-group d-flex">
    <i class="fas fa-lock icon"></i> <input type="password" placeholder="Password">
  </div>
  <div class="input-group d-flex">
    <i class="fas fa-repeat icon"></i> <input type="password" placeholder="RePassword">
  </div>
</div>
      <div (click)="loginpage()" class="login-btn font-style">regest</div>
      <div (click)="haveacount()" class="forgot-password mt-3">already have an account?</div>
  </div>
</div>
