<div class="our-services-banner">
  <div class="banner-overlay">
    <img class="img-banner" src="banner.png" alt="About Us Banner">
  </div>
</div>

<div class="container-fluid px-4 px-md-5 mt-5">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <h1 class="font-style mb-4 fw-bold about-title">About Us</h1>
      <p class="font-style about-p mb-3">
        AKAR SERVICE is a smart platform that connects residents with trusted maintenance and home service providers in an easy and efficient way.
      </p>
      <p class="font-style about-p">
        Our goal is to simplify compound management, improve communication, and deliver a faster, more reliable service experience for everyone.
      </p>
    </div>
  </div>
</div>
