<div class="our-services-banner">
  <img class="img-banner object-fit-contain" src="banner.png" alt="">
</div>



<div>
  <h1 class="ms-5 mt-5 font-style ">About Us</h1>
  <p class="ms-5 mt-3 w-50 font-style About-p">AKAR SERVICE is a smart platform that connects residents with trusted maintenance and home service providers in an easy and efficient way.</p>
  <p class="ms-5 mt-3 w-50 font-style About-p">  Our goal is to simplify compound management, improve communication, and deliver a faster, more reliable service experience for everyone.</p>
</div>
