<div class="login-page ">
  <div class="   col-3 offset-8 login-card">
    <h2>Add New Password</h2>
    <form [formGroup]="Sign_Up">
<div class="login-container">

  <div class="input-group d-flex">
    <i class="fas fa-lock icon"></i> <input formControlName="password" type="password" placeholder="Password">
  </div>

@if (Sign_Up.get("password")?.invalid && Sign_Up.get("password")?.touched) {
  <div>
    @if (Sign_Up.get("password")?.getError("required")) {
      <p class="text-danger ms-3">The Email Is Required </p>
    }
    @if (Sign_Up.get("password")?.getError("minlength")) {
      <p class="text-danger ms-3">Min Length Is 8 Caracters </p>
    }
    @if (Sign_Up.get("password")?.getError("maxlength")) {
      <p class="text-danger ms-3">Max Length Is 12 Caracters </p>
    }
  </div>
}


  <div class="input-group">
    <i class="fas fa-repeat icon"></i> <input formControlName="repassword" type="password" placeholder="ConfirmPassword">
  </div>

            @if (Sign_Up.get("repassword")?.invalid && Sign_Up.get("repassword")?.touched) {
  <div>
    @if (Sign_Up.get("repassword")?.getError("required")) {
      <p class="text-danger ms-3">The ConfirmPassword Is Required </p>
    }
  </div>
}


</div>
    </form>
      <button [disabled]="Sign_Up.invalid" (click)="loginpage()" class="glass-btn font-style"> Go To Login Page</button>
  </div>
</div>
