<div class="login-page">
  <div class="container-fluid h-100 d-flex align-items-center">
    <div class="row w-100 m-0 justify-content-center justify-content-lg-end">

      <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-3 login-card">
        <h2>Add New Password</h2>

        @if (MassegError) {
          <div class="alert alert-danger p-2" role="alert">
            {{ MassegError }}
          </div>
        }

        <form [formGroup]="ResetForm" (ngSubmit)="submitNewPassword()">
          <div class="login-container">

            <div class="custom-input-group">
              <i class="fas fa-lock icon"></i>
              <input formControlName="password" type="password" placeholder="Password">
            </div>
            @if (ResetForm.get("password")?.invalid && ResetForm.get("password")?.touched) {
              <div>
                @if (ResetForm.get("password")?.getError("required")) {
                  <p class="text-danger ms-3">Password Is Required</p>
                }
                @if (ResetForm.get("password")?.getError("minlength")) {
                  <p class="text-danger ms-3">Min Length Is 8 Characters</p>
                }
              </div>
            }

            <div class="custom-input-group mt-3">
              <i class="fas fa-sync icon"></i>
              <input formControlName="repassword" type="password" placeholder="Confirm Password">
            </div>
            @if (ResetForm.get("repassword")?.touched && ResetForm.errors?.['mismatch']) {
              <p class="text-danger ms-3">Passwords do not match</p>
            }

            <button type="submit" [disabled]="ResetForm.invalid || isloding" class="glass-btn font-style mt-4 w-100">
              @if (isloding) { <span>Saving...</span> } @else { <span>Save & Update</span> }
            </button>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
