<div class="login-page ">
  <div class="   col-3 offset-8 login-card">
    <h2>Reset Your password</h2>
    <div class="login-container">
  <div class="input-group">
  <i class="fas fa-envelope icon"></i>
  <input type="text" placeholder="Enter Your email">
  <p class=" align-content-center text-black ps-4 point me-0 mb-0 mt-0  ms-5 " >Send OTP</p>
  </div>


  <div class=" d-flex justify-content-around">
  <div class="otp-container">
  <input #i1 (keyup)="moveNext(i1, i2)" (keydown.backspace)="handleBack(i1, null)" maxlength="1" type="text" inputmode="numeric">
  <input #i2 (keyup)="moveNext(i2, i3)" (keydown.backspace)="handleBack(i2, i1)" maxlength="1" type="text" inputmode="numeric">
  <input #i3 (keyup)="moveNext(i3, i4)" (keydown.backspace)="handleBack(i3, i2)" maxlength="1" type="text" inputmode="numeric">
  <input #i4 (keyup)="moveNext(i4, i5)" (keydown.backspace)="handleBack(i4, i3)" maxlength="1" type="text" inputmode="numeric">
  <input #i5 (keyup)="moveNext(i5, i6)" (keydown.backspace)="handleBack(i5, i4)" maxlength="1" type="text" inputmode="numeric">
  <input #i6 (keyup)="moveNext(i6, null)" (keydown.backspace)="handleBack(i6, i5)" maxlength="1" type="text" inputmode="numeric">
  </div>
</div>


  <div>
          <div  class="glass-btn font-style">Creat New Password</div>
  </div>

</div>
  </div>
</div>
