<div class="login-page">
  <div class="container-fluid h-100 d-flex align-items-center">
    <div class="row w-100 m-0 justify-content-center justify-content-lg-end">

      <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-3 login-card">
        <h2>Reset Your Password</h2>

        <form [formGroup]="forget" (ngSubmit)="forgetPass()">
          <div class="login-container">

            <div class="custom-input-group">
              <i class="fas fa-envelope icon"></i>
              <input formControlName="email" type="text" placeholder="Enter Your email">
              <button type="button" (click)="sendOTP()" [disabled]="forget.get('email')?.invalid || isSendingOtp"
                      class="btn btn-link text-black point ps-3 text-decoration-none fw-bold">
                @if (isSendingOtp()) { Sending... } @else { Send OTP }
              </button>
            </div>

            @if (forget.get("email")?.invalid && forget.get("email")?.touched) {
              <div>
                @if (forget.get("email")?.getError("required")) {
                  <p class="text-danger ms-3">The email Is Required </p>
                }
                @if (forget.get("email")?.getError("email")) {
                  <p class="text-danger ms-3">Please enter a valid email </p>
                }
              </div>
            }

            <div class="d-flex justify-content-around my-4">
              <div class="otp-container">
                <input #i1 (keyup)="moveNext(i1, i2)" (keydown.backspace)="handleBack(i1, null)" maxlength="1" type="text" inputmode="numeric">
                <input #i2 (keyup)="moveNext(i2, i3)" (keydown.backspace)="handleBack(i2, i1)" maxlength="1" type="text" inputmode="numeric">
                <input #i3 (keyup)="moveNext(i3, i4)" (keydown.backspace)="handleBack(i3, i2)" maxlength="1" type="text" inputmode="numeric">
                <input #i4 (keyup)="moveNext(i4, i5)" (keydown.backspace)="handleBack(i4, i3)" maxlength="1" type="text" inputmode="numeric">
                <input #i5 (keyup)="moveNext(i5, i6)" (keydown.backspace)="handleBack(i5, i4)" maxlength="1" type="text" inputmode="numeric">
                <input #i6 (keyup)="moveNext(i6, null)" (keydown.backspace)="handleBack(i6, i5)" maxlength="1" type="text" inputmode="numeric">
              </div>
            </div>

            <button type="submit" [disabled]="forget.invalid || isloding()" class="glass-btn font-style mt-3">
              Create New Password
            </button>

          </div>
        </form>
      </div>

    </div>
  </div>
</div>
