<div class="container mt-5">
  <div class="row">
    <div class="col-6 margin-cut  ">
      <img class=" object-fit-contain img-style" src="Group 34.png" alt="will not show ">
    </div>
    <div class="col-6 mt-5 margin-cust ">
      <h1 class="w-75 font-style font-size  ">reset your password</h1>
<form class="margin-custom">
                <div class="input-group">
                    <i class="fa fa-envelope icon"></i>
                    <input type="text" placeholder="enter your email" required>
                </div>

                <div class="input-group">
                    <input type="number"  placeholder="+02 | 00 000 000 00" id="pass">

                </div>


            </form>
    </div>
  </div>
</div>
