<div class="parent">
  <div class="container">
    <div class="row">
      <div class="col-4 btn-emergency mt-5">Choose Painter </div>
      <div class="col-8"></div>

      <!-- Painter 1 -->
      <div class="col-4 mt-5">
        <div class="painter-grid">
          <div class="card">
            <img src="https://i.pravatar.cc/150?u=20" alt="Sherif Hamad" class="avatar">
            <div class="info">
              <h3 class="name">Sherif Hamad</h3>
              <p class="id">ID: 550011</p>
              <div class="rating">
                ★★★★★
              </div>
            </div>
            <button (click)="check(tasks()[0].id)" [ngClass]=" tasks()[0].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen mt-4">→</button>
          </div>
        </div>
      </div>

      <!-- Painter 2 -->
      <div class="col-4 mt-5">
        <div class="card">
          <img src="https://i.pravatar.cc/150?u=21" alt="Magdy Soliman" class="avatar">
          <div class="info">
            <h3 class="name">Magdy Soliman</h3>
            <p class="id">ID: 228844</p>
            <div class="rating">
              ★★★★<span class="empty">★</span>
            </div>
          </div>
          <button (click)="check(tasks()[1].id)" [ngClass]=" tasks()[1].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen mt-4">→</button>
        </div>
      </div>

      <!-- Painter 3 -->
      <div class="col-4 mt-5">
        <div class="card">
          <img src="https://i.pravatar.cc/150?u=22" alt="Fady Nabil" class="avatar">
          <div class="info">
            <h3 class="name">Fady Nabil</h3>
            <p class="id">ID: 994433</p>
            <div class="rating">
              ★★★★★
            </div>
          </div>
          <button (click)="check(tasks()[2].id)" [ngClass]=" tasks()[2].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen mt-4">→</button>
        </div>
      </div>

      <div class="col-4 btn-emergency mt-5">Emergency</div>
      <div class="col-8"></div>

      <!-- Emergency Painter 1 -->
      <div class="col-4 mt-5">
        <div class="card">
          <img src="https://i.pravatar.cc/150?u=23" alt="Ashraf Ezzat" class="avatar">
          <div class="info">
            <h3 class="name">Ashraf Ezzat</h3>
            <p class="id">ID: 112233</p>
            <div class="rating">
              ★★★<span class="empty">★★</span>
            </div>
          </div>
          <button (click)="check(tasks()[3].id)" [ngClass]=" tasks()[3].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen mt-4">→</button>
        </div>
      </div>

      <!-- Emergency Painter 2 -->
      <div class="col-4 mt-5">
        <div class="card">
          <img src="https://i.pravatar.cc/150?u=24" alt="Hazem Omar" class="avatar">
          <div class="info">
            <h3 class="name">Hazem Omar</h3>
            <p class="id">ID: 667788</p>
            <div class="rating">
              ★★★★★
            </div>
          </div>
          <button (click)="check(tasks()[4].id)" [ngClass]=" tasks()[4].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen mt-4">→</button>
        </div>
      </div>
    </div>
  </div>
</div>
