
<div class="parent-sitting position-relative ">
<div class=" container-fluid">
    <div class="row">
<div class="col-3 sidebar d-flex flex-column p-0">
  <div class="menu-items flex-grow-1 mt-5">
    <div routerLinkActive="active" class="nav-item">
      <a routerLink="requests"><i class="fa-solid fa-screwdriver-wrench icon-a"></i> requests</a>
    </div>

    <div routerLinkActive="active" class="nav-item">
      <a routerLink="payment"><i class="fa-solid fa-credit-card icon-a"></i> payment</a>
    </div>

    <div routerLinkActive="active" class="nav-item point">
      <a (click)="aboutpage()"><i class="fa-solid fa-circle-info icon-a"></i> about us</a>
    </div>

    <div routerLinkActive="active" class="nav-item">
      <a routerLink="profile"><i class="fa-solid fa-circle-user icon-a"></i> profile</a>
    </div>
  </div>

  <div class="logout-container">
    <li class="logout d-flex align-items-center" (click)="backtomain()">
      <i class="material-icons logout-icon">logout</i>
      <a class="text-light point">logout</a>
    </li>
  </div>
</div>
    <div class="col-9">
      <router-outlet></router-outlet>
      <div class="corner-shape"></div>
    </div>
  </div>
</div>
</div>






































