




.card-number {
    border: none;
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: #888;
    width: 70%;
    outline: none;
}

.brand-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-logo img {
    width: 40px;
}

.brand-logo span {
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: lowercase;
}

.divider {
    border: 0;
    width: 80%;
    border-bottom: 1px solid black;
    margin: 5px 0 25px 0;
}

.details-row {
    gap: 40px;
}

.input-group {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.input-group input {
    border: none;
    font-size: 1.8rem;
    color: #555;
    outline: none;
    width: 140px;
    background-color: transparent;
}

.cvv {
    width: 120px;
}

.cvv input {
    width: 70px;
    letter-spacing: 2px;
    margin-top: 7px;
    height: 38px;
}

.notes-input {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 75%;
    padding: 10px 0;
    font-size: 1.4rem;
    color: #888;
    outline: none;
}



.bi-eye-slash {
    cursor: pointer;
    font-size: 1.2rem;
    color: #000;
}

.expiry{
  width: 200px !important;
}


