<div class="w-75 ms-5 ">

<div class="d-flex margin-custom">
      <input type="text" class="card-number bg-transparent" placeholder="****   ****   ****   ****">
    <div class="brand-logo ms-3">
      <img  src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" alt="Mastercard">
      <span>mastercard</span>
    </div>
</div>

  <hr class="divider">

  <div class="d-flex justify-content-start">
    <div class="input-group expiry">
      <input type="text" value="02 / 2028">
    </div>

    <div class="input-group cvv ms-5">
      <input type="password" placeholder="***">
      <i class="bi bi-eye-slash"></i>
    </div>
  </div>


  <div class="notes-row mt-5 ">
    <input type="text" placeholder="notes ..." class="notes-input bg-transparent">
  </div>


  <div class="red-corner"></div>
</div>
