<div class="parent">
  <div class=" container">
    <div class="row">
      <div class="col-4 btn-emergency mt-5">Choose Painter </div>
      <div class="col-8"></div>
    <div class="col-4 mt-5">
          <div class="painter-grid">
        <!-- Painter 1 -->
        <div class="card">
            <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Ali Gaber" class="avatar">
            <div class="info">
                <h3 class="name">Ali Gaber</h3>
                <p class="id">ID: 998877</p>
                <div class="rating">
                    ★★★★★
                </div>
            </div>
            <button (click)="check(tasks()[0].id)" [ngClass]=" tasks()[0].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen mt-4" >→</button>
        </div>
  </div>
    </div>

<!-- /////////////////////////one/////////////////////////// -->

    <div class="col-4 mt-5">
                <div class="card">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="Hany Salama" class="avatar">
            <div class="info">
                <h3 class="name">Hany Salama</h3>
                <p class="id">ID: 112233</p>
                <div class="rating">
                    ★★★★<span class="empty">★</span>
                </div>
            </div>
            <button (click)="check(tasks()[1].id)" [ngClass]=" tasks()[1].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen mt-4" >→</button>
        </div>
    </div>

<!-- ///////////////////////////////////////tow///////////////////////////////////// -->

<div class="col-4 mt-5">
  <div class="card">
              <img src="https://randomuser.me/api/portraits/men/75.jpg" alt="Mohamed El Shenawy" class="avatar">
            <div class="info">
                <h3 class="name">Mohamed Reda</h3>
                <p class="id">ID: 334455</p>
                <div class="rating">
                    ★★★★★
                </div>
            </div>
            <button (click)="check(tasks()[2].id)" [ngClass]=" tasks()[2].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen mt-4" >→</button>
            </div>
          </div>

          <div class="col-4 btn-emergency mt-5">Emergency</div>
          <div class="col-8"></div>

          <div class="col-4 mt-5">
  <div class="card">
              <img src="https://randomuser.me/api/portraits/men/44.jpg" alt="Mohamed Ramadan" class="avatar">
            <div class="info">
                <h3 class="name">Mohamed Ramadan</h3>
                <p class="id">ID: 778899</p>
                <div class="rating">
                    ★★★★<span class="empty">★</span>
                </div>
            </div>
            <button (click)="check(tasks()[3].id)" [ngClass]=" tasks()[3].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen  mt-4" >→</button>
            </div>
          </div>

<div class="col-4 mt-5">
  <div class="card">
              <img src="https://randomuser.me/api/portraits/men/85.jpg" alt="Asser Yassin" class="avatar">
            <div class="info">
                <h3 class="name">Asser Yassin</h3>
                <p class="id">ID: 223344</p>
                <div class="rating">
                    ★★★★★
                </div>
            </div>
            <button (click)="check(tasks()[4].id)" [ngClass]=" tasks()[4].completed ? 'btn-none' : 'btn-select' " class="btn-select bettwen  mt-4" >→</button>
            </div>
</div>


</div>
</div>
</div>
