<div class="login-page ">
  <div class="   col-3 offset-8 login-card">
    <h2>Welcome to AKAR services</h2>
    <div class="login-container">
  <div class="input-group">
    <i class="fas fa-user icon"></i> <input type="text" placeholder="User Name">
  </div>
  <div class="input-group d-flex">
    <i class="fas fa-lock icon"></i> <input type="password" placeholder="Password">
  </div>
</div>
      <div (click)="homepage()" class="glass-btn font-style">login</div>
      <div (click)="resetpassword()" class="forgot-password">Forgot password?</div>
  </div>
</div>
