<div class="container mt-5">
  <div class="row">
    <div class="col-6 margin-cut  ">
      <img class=" object-fit-contain img-style" src="Group 34.png" alt="will not show ">
    </div>
    <div class="col-6 mt-5 margin-cust ">
      <h1 class="w-75 font-style font-size  ">Welcom To Akar LogIn</h1>
<form class="margin-custom">
                <div class="input-group">
                    <i class="fa-regular fa-user icon"></i>
                    <input type="text" placeholder="UserName" required>
                </div>

                <div class="input-group">
                    <i class="fa-solid fa-lock icon"></i>
                    <input type="password"  placeholder="password" id="pass">
                    <i class="fa-regular fa-eye-slash toggle-password"></i>
                </div>

                <div class="forgot-pass">
                    <a (click)="resetpassword()" class="font-style">forget password ?</a>
                </div>
            </form>
    </div>
  </div>
</div>
